doctype html
html(lang='en')
  head
    link(href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='stylesheets/all.css')
    script(src='javascripts/all.js')
    title Laurel and Mike
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    h1 Laurel and Mike
